*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #fff;
    font-family: 'popins' sans-serif;
}
i.fas.fa-circle {
    color: orange;
}
i.fas.fa-border-style {
    color: blue;
    background-color: blue;
}
.logo {
    color: #222;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 22px;
}
.navlink {
    display: flex;
    justify-content: space-around;
    width: 43%;
    
}
.navlink li{
    list-style-type: none;
    border: 1px solid #fff;
}
.navlink a {
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #222;
}
.navlink a:hover{
    color: #222;
    background-color: aqua;
}

.search:hover{
    color: cyan;
    background-color: darkblue;
}
.font {
    text-align: center;
    font-size: 50px;
    padding: 49px;
    background-image: url(nature-g22f1d3e6f_1280.jpg);
}
.learnmore{
    border-radius: 2px;
    font-size: 30px;
    color: black;
}
.learnmore:hover{
    background-color: orange;
}
section.ourservices {
    text-align: center;
}
h1 {
    font-weight: revert;
    font-size: 52px;
    line-height: 81px;
    margin: 0;
    margin-bottom: 30px
}
.dualpart {
    display: flex;
    padding: 8% 30px;
    column-gap: 40px;
}
.icon-2 {
    height: 60px;
    width: 60px;
    line-height: 50px;
    margin: 0 auto;
    background-color: #eee;
    border-bottom-left-radius: 87px;
    border-bottom-right-radius: 77px;
    border-top-left-radius: 84px;
    border-top-right-radius: 33px;
    transform: translate3d(5px, -32px, 9px);
    transition: 2s;
}
.icon-2:hover{
    background-color: blueviolet;
    transform: rotate(180deg);
}
.dual {
    background-color: bisque;
    padding: 4px 10px;
    border-radius: 29px;
    transition: all ease o.7sec;
    /* transition: all ease 0.7s; */
    transition: all ease 0.7s;
}
.dual:hover{
    background-color: darkcyan;